* {
  box-sizing: border-box;
}

:root {
  --btn-font-size-normal: 1rem;
  --btn-color-normal: #1e1e1e;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center !important;
}

.header > h1 {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.header > p {
  font-size: 14px;
  color: #8e8e8e;
}

.game-status {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f9f4da;
  border-radius: 0.25rem;
  padding: 0.5rem;
  block-size: 59px;
}

.game-status *,
:not(h3) {
  margin: 0px;
}

.game-status.won {
  background-color: #10a95b;
}

.game-status.lost {
  background-color: #ba2a2a;
}

.game-status.farewell {
  background-color: #7a5ea7;
}

.game-status h3 {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

.lang-list {
  justify-self: center;
  display: flex;
  max-width: 350px;
  gap: 2px;
  justify-content: center;
  flex-wrap: wrap;
}

.lang-list > .lang-chip {
  border-radius: 0.24rem;
  font-size: 0.75rem;
  padding: 0.25rem;
  position: relative;
}

.lang-chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.letter-section {
  margin-block: 1.5rem;
  display: flex;
  column-gap: 3px;
  justify-content: center;
}

.letter-input {
  padding: 1rem;
  border-bottom: 2px #d9d9d9 solid;
  background-color: #323232;
  color: #f9f4da;
  width: 40px;
  aspect-ratio: 1/1;
}

.letter-input.missed-letter {
  color: #EC5D49;
}

.keyboard {
  display: flex;
  justify-content: center;
  max-inline-size: 480px;
  gap: 10px;
  flex-wrap: wrap;
}

.keyboard > .keyboard-btn {
  border: 1px #d7d7d7 solid;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  color: #1e1e1e;
  font-weight: 600;
  font-size: 1rem;
  background-color: #fcba29;
  cursor: pointer;
}

.keyboard-btn.correct {
  background-color: #10a95b;
}

.keyboard-btn.wrong {
  background-color: #ec5d49;
}

.keyboard-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.new-game-btn {
  border-radius: 0.25rem;
  background-color: #11b5e5;
  border: 1px #d7d7d7 solid;
  color: var(--btn-color-normal);
  font-size: var(--btn-font-size-normal);
  display: block;
  margin-inline: auto;
  margin-block: 1.5rem;
  padding: 0.75rem;
  font-weight: 600;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
